<!DOCTYPE html/>

<html>
<head>
<title> Flask App - Celebrities</title>
<link type="text/css" rel="stylesheet" href="static/celebs_style.css"/>
</head>
<body>

<Table Border=5>  
 {%for row in rows %}
<TR>	
	<TD>Photo</TD>
	<TD><img height="256" width="256" src="{{row[5]}}"/> </TD>
</TR>

<TR>
	<TD>Celeb ID</TD>
	<TD><input type="text" name="celebID" value="{{celebID}}" readonly /></TD>
</TR>

<TR>
	<TD>First Name</TD>
	<TD>{{firstname}}</TD>
	
</TR>
<TR>
	<TD>Last Name</TD>
	<TD>{{row[2]}}</TD>
	
</TR>
<TR>
	<TD>Age</TD>
	<TD>{{row[3]}}</TD>
	
</TR>
<TR>
	<TD>Email</TD>
	<TD>{{row[4]}}</TD>
	
</TR>
<TR>
	<TD>Bio</TD>
	<TD>{{row[6]}}</TD>
	
</TR>
<TR><TD colspan=2><br></TD></TR>
{% endfor %}
</table>
</body>

</html>
